---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="">Welcome, to <span class="text-gradient">Astro</span></h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul>
    <button class="btn w-32 btn-primary">Click Me</button>
    <button class="btn w-32 btn-secondary">Click Me</button>
    <button class="btn w-32 btn-tertiary">Click Me</button>
    <button class="btn w-32 btn-accent">Click Me</button>
    <button class="btn w-32 btn-neutral">Click Me</button>
  </main>
</Layout>

<style>
  .btn {
    @apply rounded-full;
    @apply block;
    @apply m-3;
  }
</style>
