---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main class="prose">
    <h1>
      Welcome, to <span class="text-gradient">Astro</span>
    </h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <ul role="list" class="grid grid-flow-column">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul>
  </main>

  <div class="grid grid-flow-row gap-4 py-4">
    <button class="btn-primary">Primary</button>
    <button class="btn-secondary">Secondary</button>
    <button class="btn-accent">Accent</button>
    <button class="btn-neutral">Neutral</button>
    <button class="btn-base-100">Base 100</button>
    <button class="btn-info">Info</button>
    <button class="btn-success">Success</button>
    <button class="btn-warning">Warning</button>
    <button class="btn-error">Error</button>
  </div>

  <div class="chat chat-start">
    <div class="chat-header">
      Obi-Wan Kenobi
      <time class="text-xs opacity-50">2 hours ago</time>
    </div>
    <div class="chat-bubble">You were the Chosen One!</div>
    <div class="chat-footer opacity-50">Seen</div>
  </div>
  <div class="chat chat-start">
    <div class="chat-header">
      Obi-Wan Kenobi
      <time class="text-xs opacity-50">2 hour ago</time>
    </div>
    <div class="chat-bubble">I loved you.</div>
    <div class="chat-footer opacity-50">Delivered</div>
  </div>
  <div class="chat chat-start">
    <div class="chat-image avatar">
      <div class="w-10 rounded-full">
        <img src="https://picsum.photos/id/64/192/192" />
      </div>
    </div>
    <div class="chat-header">
      Obi-Wan Kenobi
      <time class="text-xs opacity-50">12:45</time>
    </div>
    <div class="chat-bubble">You were the Chosen One!</div>
    <div class="chat-footer opacity-50">Delivered</div>
  </div>
  <div class="chat chat-end">
    <div class="chat-image avatar">
      <div class="w-10 rounded-full">
        <img src="https://picsum.photos/id/338/192/192" />
      </div>
    </div>
    <div class="chat-header">
      Anakin
      <time class="text-xs opacity-50">12:46</time>
    </div>
    <div class="chat-bubble">I hate you!</div>
    <div class="chat-footer opacity-50">Seen at 12:46</div>
  </div>

  <kbd class="kbd">ctrl</kbd>
  +
  <kbd class="kbd">shift</kbd>
  +
  <kbd class="kbd">del</kbd>
</Layout>

<style>
  button {
    @apply btn rounded-full w-32;
  }
</style>
