---
import Main from '../layouts/main.astro'
---

<Main>
  <div class="grid h-screen grid-flow-col place-self-auto">
    <div class="w-96 place-self-center">
      <p class="line-clamp-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce faucibus
        enim vel ante finibus, ac congue augue fringilla. Aenean ut metus
        pellentesque, rhoncus nunc eget, convallis augue. Etiam pharetra
        tincidunt lacus in vestibulum. Nulla pharetra massa vitae ultrices
        aliquam. Etiam malesuada lacinia tristique. Maecenas facilisis velit ac
        felis efficitur accumsan. Cras vel sem nulla. Suspendisse tristique eget
        justo at consectetur. Nunc mattis tortor ut tellus sodales eleifend.
        Cras a diam a ipsum accumsan eleifend in in eros. Duis vitae sodales
        magna. Donec consectetur tempus tincidunt.
      </p>
      <p class="my-2 line-clamp-3">
        Sed risus justo, tincidunt quis vulputate vitae, rutrum a tortor.
        Suspendisse lectus justo, consequat ac sodales sed, egestas sed ex.
        Nullam consectetur rutrum sapien, nec ornare orci tincidunt vitae. Nunc
        quis bibendum libero. Nunc vulputate vestibulum velit non aliquam.
        Nullam pretium leo a tempor fringilla. Cras tincidunt nulla ac arcu
        facilisis, eget lobortis dolor finibus. Curabitur ultrices eleifend
        dictum. Quisque vehicula dolor sit amet nibh porta, quis interdum ligula
        aliquet. Vivamus pellentesque sollicitudin justo, nec viverra diam
        mollis sit amet. Aenean magna diam, porttitor id turpis at, bibendum
        interdum metus. Pellentesque efficitur semper lectus, eu egestas metus
        imperdiet ut. Sed congue nisl non rhoncus pellentesque.
      </p>
      <p class="my-2 line-clamp-3">
        Fusce nec augue ultricies orci placerat consectetur id at ipsum. Nunc
        purus ligula, tempus ac diam in, tristique commodo massa. Curabitur
        porttitor, erat id sollicitudin mollis, elit erat tincidunt augue, et
        efficitur arcu magna a turpis. Ut vitae lorem sed sapien auctor porta.
        Curabitur ligula purus, mattis at egestas elementum, ornare eget lectus.
        Sed semper dignissim sapien, quis maximus quam volutpat vitae. Mauris
        ultricies non ante eget gravida. Donec in sodales lorem, in finibus
        libero. Maecenas malesuada, lectus nec sagittis varius, neque sem mattis
        ante, eu egestas lectus lorem non ipsum. Phasellus ultricies sodales
        nunc, et sodales metus tincidunt eu. Nunc porta posuere dolor quis
        varius. Nam facilisis ante nec ante semper ultrices. Quisque dignissim
        risus eget erat consequat, ac condimentum nulla euismod. Sed ac mi
        cursus nisl tristique volutpat. Integer id magna sollicitudin erat
        blandit lacinia.
      </p>
      <p class="my-2 line-clamp-3">
        Proin lectus urna, egestas non velit at, imperdiet maximus sem. Nullam
        tempor sagittis odio id imperdiet. Class aptent taciti sociosqu ad
        litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse
        vestibulum turpis nulla, sed hendrerit felis varius eu. Vivamus iaculis
        metus sit amet quam scelerisque, nec convallis tortor finibus. Maecenas
        vulputate egestas magna, eu vulputate augue. Vivamus tellus purus,
        efficitur non felis ut, lacinia dignissim mauris. Phasellus tellus
        augue, posuere vulputate nibh ullamcorper, fringilla gravida ante.
        Vivamus eget leo rhoncus, bibendum nisi interdum, lobortis mi.
      </p>
      <p class="my-2 line-clamp-5">
        Duis gravida sed mi eu rhoncus. Proin vel lectus vitae libero mattis
        fringilla a sit amet nibh. Proin fermentum ultrices ante nec lobortis.
        Maecenas vel mollis nunc, ac vehicula nisi. Suspendisse ultrices
        pulvinar sapien ac suscipit. Maecenas non egestas lectus. Vivamus ut
        nulla quis sem varius ornare. Maecenas commodo ultrices tincidunt. Fusce
        consectetur lorem vel risus fringilla, eget finibus lacus vulputate.
        Proin non imperdiet lorem, eu malesuada ex. Nam est velit, cursus in
        malesuada ac, blandit at tortor. Interdum et malesuada fames ac ante
        ipsum primis in faucibus.
      </p>
    </div>
  </div>
  <div class="alert alert-info shadow-lg">
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="h-6 w-6 flex-shrink-0 stroke-info"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path></svg
      >
      <span>This is the end.</span>
    </div>
    <div class="flex-none">
      <button class="btn-ghost btn-sm btn">Deny</button>
      <a href="/" class="btn-accent btn-sm btn">Return to Home</a>
    </div>
  </div>
</Main>
