---
import Main from '../layouts/main.astro'
---

<Main>
  <div class="grid h-screen place-items-center content-center">
    <div class="mockup-phone">
      <div class="camera"></div>
      <div class="display">
        <div class="phone-1 artboard artboard-demo">Mobile Preview</div>
      </div>
    </div>
    <div class="m-6 grid-flow-col">
      <a href="/" class="btn-error btn">Go Home</a>
    </div>
  </div>
</Main>
