---
// Click button, get confetti!
// Styled by Tailwind :)
---

<button
	class="btn btn-primary"
>
	<slot />
</button>

<script>
	import confetti from 'canvas-confetti';
	const button = document.body.querySelector('button');

	if (button) {
		button.addEventListener('click', () => confetti());
	}
</script>
