---
import Fonts from '../components/Fonts.astro'
const { content, theme, frontmatter } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{content?.title || 'Astro Main Layout'}</title>
    <Fonts />
  </head>
  <body data-theme={theme || frontmatter?.theme || 'richardson'}>
    <slot />
  </body>
</html>
